
*.cache
*.cache
.vs/Chatter/v16/.suo
.vs/Chatter/v16/.suo
*.cache
"Chatter.Android/bin/" 
Chatter.Android/obj/
Chatter.iOS/bin/
Chatter.iOS/obj/
Chatter/obj/
Chatter/bin/
*.v2
Chatter.Android/bin/Debug/Chatter.Android.pdb
Chatter.Android/bin/Debug/Chatter.dll
Chatter.Android/bin/Debug/Chatter.pdb
Chatter.Android/bin/Debug/Chatter.Android.dll
Chatter.Android/bin/Debug/Chatter.Android.dll
.vs/Chatter/DesignTimeBuild/.dtbcache.v2
Chatter.Android/bin/Debug/Chatter.Android.pdb
Chatter.Android/bin/Debug/Chatter.dll
Chatter.Android/bin/Debug/com.companyname.chatter-Signed.apk
Chatter.Android/bin/Debug/Chatter.pdb
Chatter.Android/bin/Debug/com.companyname.chatter.apk
Chatter.Android/Chatter.Android.csproj.user
